@import "tailwindcss";

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  0%,
  49% {
    border-right-color: transparent;
  }
  50%,
  100% {
    border-right-color: transparent;
  }
}

.typing {
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid white;
  animation: typing var(--speed) steps(var(--characters)),
    blink 2s step-end infinite;
}
